exercici1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DateCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Year1" type="xs:integer"/>
        <xs:element name="Month" type="xs:integer"/>
        <xs:element name="Day" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
